Installing OpenCV from prebuilt binaries
Below Python packages are to be downloaded and installed to their default locations.
Python 3.x (3.4+) or Python 2.7.x from here.
Numpy package (for example, using pip install numpy command).
Matplotlib (pip install matplotlib) (Matplotlib is optional, but recommended since we use it a lot in our tutorials).
Install all packages into their default locations. Python will be installed to C:/Python27/ in case of Python 2.7.
After installation, open Python IDLE. Enter import numpy and make sure Numpy is working fine.
Download latest OpenCV release from GitHub or SourceForge site and double-click to extract it.
Goto opencv/build/python/2.7 folder.
Copy cv2.pyd to C:/Python27/lib/site-packages.
Open Python IDLE and type following codes in Python terminal.
>>> import cv2 as cv
>>> print( cv.__version__ )
If the results are printed out without any errors, congratulations !!! You have installed OpenCV-Python successfully.

https://docs.opencv.org/4.5.2/d5/de5/tutorial_py_setup_in_windows.html