Installation & compatibility
Keras comes packaged with TensorFlow 2 as tensorflow.keras. To start using Keras, simply install TensorFlow 2.

Keras/TensorFlow are compatible with:

Python 3.5–3.8
Ubuntu 16.04 or later
Windows 7 or later
macOS 10.12.6 (Sierra) or later.




https://keras.io/about/#installation-amp-compatibility

used : Keras2.4.3